div {
    border: 0px solid red;

}

.upper-gap {
    margin: 5px 0px 0px 0px;
}

.navbar{
    background-color: transparent;
    border: 0px
}

.navbar-brand{
    color: black;
    font-size: 34px;
    opacity: 1;
}

hr.hr-navbar {
    margin: 5px 15px 0px 0px;
    opacity: 1;
}

.navbar-nav > li > a {
    color: black;
    font-size: 20px;
    opacity: 1;
    /* border: 1px white solid; */
}
