
<!-- container on the left of header, containing the image branding -->


  <!-- <div class="upper-gap">

    <nav class="navbar navbar-default">
      <div class="container-fluid">

        <div class="navbar-header">
          <button type = "button" class = "navbar-toggle" data-toggle = "collapse" data-target = "#navbar-collapse">
            <span class = "sr-only">Toggle navigation</span>
            <span class = "icon-bar"></span>
            <span class = "icon-bar"></span>
            <span class = "icon-bar"></span>
         </button>
          <a class="navbar-left" href="#">

              <img class="image" src="/src/header.png" alt="">
          </a> -->
        <!-- </div> navbar-header -->

        <!-- <div class = "collapse navbar-collapse" id = "navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a *ngIf='authService.loggedIn()' [routerLink]="['/paths', 'challenge']" class="navbar-text-color">Challenges</a> </li>
            <li><a *ngIf='authService.loggedIn()' [routerLink]="['/paths', 'route']" class="navbar-text-color">Routes</a> </li>
            <li><a *ngIf='authService.loggedIn()' [routerLink]="['/paths', 'track']" class="navbar-text-color">Tracks</a></li>
            <li><a *ngIf='!authService.loggedIn()' [routerLink]="['/register']" class="navbar-text-color">Register</a></li>
            <li><a *ngIf='!authService.loggedIn()' [routerLink]="['/login']" class="navbar-text-color">Login</a></li>
            <li><a *ngIf='authService.loggedIn()' [routerLink]="['']" class="navbar-text-color" (click)='authService.logoutUser()'>Logout</a></li>
          </ul> -->
        <!-- </div> collapse navbar-collapse -->

        <!-- <hr class="hr-navbar"> -->

      <!-- </div> container-fluid -->

    <!-- </nav> navbar navbar-default -->
<!---->
  <!-- </div> -->
<!-- </div>   container -->




  <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">

          <button type = "button" class = "navbar-toggle" data-toggle = "collapse" data-target = "#myNavbar">
            <span class = "sr-only">Toggle navigation</span>
            <span class = "icon-bar"></span>
            <span class = "icon-bar"></span>
            <span class = "icon-bar"></span>
          </button>

          <a class="navbar-left" href="#">
            <img class="image" src="/src/ts_header.svg" alt="">
          </a>

        </div> <!-- navbar-header-->

        <div class = "collapse navbar-collapse" id = "myNavbar">
          <ul class="nav navbar-nav navbar-right">

              <li><a *ngIf='authService.loggedIn()' [routerLink]="['/paths', 'challenge']" class="navbar-text-color">Challenges</a> </li>
              <li><a *ngIf='authService.loggedIn()' [routerLink]="['/paths', 'route']" class="navbar-text-color">Routes</a> </li>
              <li><a *ngIf='authService.loggedIn()' [routerLink]="['/paths', 'track']" class="navbar-text-color">Tracks</a></li>
              <li><a *ngIf='!authService.loggedIn()' [routerLink]="['/register']" class="navbar-text-color">Register</a></li>
              <li><a *ngIf='!authService.loggedIn()' [routerLink]="['/login']" class="navbar-text-color">Login</a></li>
              <li><a *ngIf='authService.loggedIn()' [routerLink]="['']" class="navbar-text-color" (click)='authService.logoutUser()'>Logout</a></li>

          </ul>
        </div> <!-- collapse navbar-collapse-->
      </div> <!-- container-fluid -->
    </nav> <!-- navbar navbar-default -->



