

.image {
  width: 175px;
}

/* navigtaion bar */
.navbar{
  margin: 0px 0px 0px 0px;
  padding: 10px 0px 10px 0px;
  background-color: white;
  border-top: 1px gainsboro solid;
}

.navbar-default {
  border: 0px;
}

/* navigation buttons */
.navbar-nav li a {
  --ts-green: #83964B;
  --ts-brown: #523209;
  color: var(--ts-green);
  /* color: green; */
  font-size: 20px;
  opacity: 1;
  /* margin-top: 15px; */
  border: 0px gainsboro solid;
}

