

<div class='container'>
  <div *ngFor="let line of dataHtml">
    <div id={{line.pathId}} (click)="onLineClick(line.pathId)" class="item">
      <div class="name">
          {{line.name}}
          <!-- {{line.pathId}} -->
      </div>

      <div *ngIf="pathType === 'route'" class="details">
        {{line.stats.distance/1000 | number: '1.1-1'}} km -
        {{line.stats.ascent / line.stats.distance * 1000 | number: '1.1-1'}} m/km
      </div>

      <div *ngIf="pathType === 'track'" class="details">
        {{utils.prettifyDate(line.startTime)}} -
        {{line.stats.distance/1000 | number: '1.1-1'}} km -
        {{utils.formatDuration(line.stats.duration)}}
      </div>

    </div>
  </div>
  <div class="more" (click)="onMoreClick()">
    more
  </div>
</div>
