

<div [ngSwitch]="isCreatePage">

  <div *ngSwitchCase="false">
    <div class='name'> {{pathName}} </div>
    <div class='desc'> {{pathDescription}} </div>
  </div>

  <div *ngSwitchCase="true">
    <input class='name input' id='name' type='text' placeholder='(Enter Path Name)' [(ngModel)]="newName" (ngModelChange)="onChange()">
    <textarea class='desc input' id='description' placeholder='(Enter Path Description)' [(ngModel)]="newDesc" (ngModelChange)="onChange()"></textarea>
  </div>

</div>
