.name {
  color: black;
  font-size: 18px;
  font-weight: normal;
  opacity: 1;
  /* padding: 5px; */
}

.desc {
  color: black;
  font-size: 14px;
  font-weight: normal;
  opacity: 1;
  height: 45px;
  overflow: hidden;
  /* margin: 5px; */
}

.data {
  color: black;
  font-size: 12px;
  font-weight: normal;
  opacity: 1;
  /* margin: 5px 0px 0px 0px; */
}

