.name {
  color: black;
  font-size: 18px;
  font-weight: normal;
  opacity: 1;
  width: 100%;
  /* padding: 5px; */
}

.desc {
  color: black;
  font-size: 14px;
  font-weight: normal;
  opacity: 1;
  height: 65px;
  overflow: hidden;
  width: 100%;
  /* margin: 5px; */
}

.name.input {
  border: 0px dotted red;
}

.desc.input {
  border: 0px dotted red;
  resize: none;
}
