.routes {
  font-size: 15px;
  color: black;
  opacity: 1.0;
  border: 0px red dotted;
  height: 100%;
}

.routes-map {
  margin: 0px 0px 0px 15px;
  float: left;
  width: 67%;
}

.routes-data {
  margin: 0px 30px 0px 0px;
  background-color: white;
  float: right;
  width: 27%;
  height: 45%;
  /* padding: 5px; */
}

.routes-list {
  margin: 15px 30px 0px 0px;
  background-color: white;
  float: right;
  width: 27%;
  height: 300px;
  overflow: auto;
  /* padding: 5px; */
}
