
.map-container {
  height: 80vh;
  width: 100%;
  border: solid orange 0px;
  position: relative;
}

#map{

  height: 80vh;
  width: 100%;
  opacity: 1;
  border: solid orange 0px;
  z-index: 1;
}

/**********************************
 *   Manu controls on map
 **********************************/

 /* contains dropdown menu */

.dropdown-menu-container {
  position: absolute;
  float: left;
  top: 5px;
  left: 5px;
  z-index: 2;
  border: red 0px dotted;

}

.sticky-menu-container {
  position: absolute;
  float: left;
  top: 5px;
  left: 5px;
  z-index: 2;
  border: red 0px dotted;
}


.menu-item{
  /* position: relative; */

  cursor: pointer;
  text-align: left;
  opacity: 1;
}

.item-hover{
  background-color: #FFFFFF;
}

.item-unhover{
  background-color: #e0e0e0;
}

.item-display{
  display: block;
}

.item-undisplay{
  display: none;
}

.menu-item.outer{
  /* width: 150px; */
  margin: 0px 0px 0px 0px;
}

.menu-item.outer-master{
  text-align: center;
  width: 50px;
  margin: 0px 0px 5px 0px;
}

.menu-item.inner{
  font-size: 12px;
  line-height: 25px;
  margin: -1px 0px 0px 0px;
  padding: 0px 5px 0px 5px;
  border: #808080 1px solid;
}


.menu-sub-item-inner {
  font-size: 12px;
  line-height: 25px;
  padding: 0px 5px 0px 5px;
  cursor: pointer;
  margin: 2px;
  text-align: left;
  border: #808080 1px solid;
}

/**********************************
 *   Options
 **********************************/
 .options-container {
  position: absolute;
  float: left;
  width: 120px;
  opacity: 0.8;
  background-color:  #e0e0e0;
  bottom: 5px;
  left: 5px;
  z-index: 3;
  border:  #808080 1px solid;
  transform: translateY (-100%);
}

.options-header {
  text-align: center;
  font-size: 12px;
  border-bottom: #808080 1px solid;
}

/**********************************
 *   Radio buttons
 **********************************/

.radio-item.outer{
  margin: 0px 0px 0px 0px;
  border-top: #808080 1px dashed;
}

.radio-item.inner{
  font-size: 12px;
  line-height: 25px;
  margin: -1px 0px 0px 0px;
  padding: 0px 5px 0px 5px;
  border: red 0px dotted;
}

.radio{
  margin: 0px 0px 0px 0px;
  background-color: #e0e0e0;
  float: right;
  border: orange 0px solid;
}


/**********************************
 *   Checkboxes
 **********************************/

.cb-item.outer{
  margin: 0px 0px 0px 0px;
}

.cb-item.inner{
  font-size: 12px;
  line-height: 25px;
  margin: -1px 0px 0px 0px;
  padding: 0px 5px 0px 5px;
  border: red 0px dotted;
}

.checkbox{
  margin: 0px 0px 0px 0px;
  float: right;
  border: orange 0px solid;
}

/* .open-button {
  background-color: #555;
  color: black;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
} */

/**********************************
 *   Popup save path form
 **********************************/

/* .form-popup {
  display: inline;
  position: absolute;
  left: 100px;
  top: 100px;
  border: 3px solid grey;
  z-index: 9;
} */

/* Add styles to the form container */
/* .form-container {
  color: black;
  max-width: 500px;
  padding: 10px;
  background-color: white;
} */

.list-popup {
  display: none;
  position: absolute;
  left: 100px;
  top: 100px;
  border: 3px solid grey;
  z-index: 9;
  color: black;
  background-color: white;
}

/* Add styles to the form container */
/* .form-container {
  color: black;
  max-width: 500px;
  padding: 10px;
  background-color: white;
} */

/**********************************
 *   file-select
 **********************************/

 .file-selector {
  display: none;
}





