#map{

  height: 80vh;
  width: 100%;
  opacity: 1;
  /* margin: auto; */
  border: solid orange 0px;
}


/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: black;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: absolute;
  left: 100px;
  top: 100px;
  /* right: 15px; */
  border: 3px solid grey;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  color: black;
  max-width: 500px;;
  padding: 10px;
  background-color: white;
}



