
hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  /* border-style: inset; */
  border-width: 1px;
  border-color: #EEEBDB;
}

.container {
  height: 450px;
  overflow-y: auto;
  width: 100%;
  padding: 10px;
  border-top: 1px solid #DDD2AD;
  border-left: 1px solid #DDD2AD;
  border-right: 1px solid #DDD2AD;
  font-size: 14px;
}

.data {
  border: 1px solid #DDD2AD;
  color: black;
  font-size: 12px;
  opacity: 1;
  border-collapse: collapse;
}
table, th, td {
  border: 1px solid #EEEBDB;
}

.width1 {
  width: 60px;
}

.width2 {
  width: 60px;
}
