<div *ngIf="isData" class='container'>
  Distance: {{pathStats.distance/1000 | number: '1.2-2'}}km<br>
  <div *ngIf="showTime">
    Duration: {{utils.formatDuration(pathStats.duration)}}<br>
    Moving Time: {{utils.formatDuration(pathStats.movingTime)}}<br>
    Average Pace: {{pathStats.pace | number: '1.1-1'}} min/km<br>
  </div>
  <hr>

  <div *ngIf="showMatchStats">
    Match Distance: {{matchStats.matchDistance/1000 | number: '1.2-2'}}km<br>
    Completed: {{(matchStats.matchDistance/pathStats.distance*100) | number: '1.1-1'}}%<br>
    Number of visits: {{matchStats.nVisits}}<br>
    <hr>
  </div>


  <div *ngIf="showElev">
    Ascent: {{pathStats.ascent | number: '1.0-0'}}m<br>
    Descent: {{pathStats.descent | number: '1.0-0'}}m<br>
    Lumpiness: {{ pathStats.ascent / pathStats.distance * 1000 | number: '1.1-1'}}m/km
    <p>
    <table class='data'>
      <tr>
        <th>Height Gain<br>[m]</th>
        <th>Grad Ave<br>[%]</th>
        <th>Grad Max<br>[%]</th>
        <th *ngIf="showTime">Pace<br>[min/km]</th>
        <th *ngIf="showTime">ascRate<br>[m/min]</th>
      </tr>
      <tr *ngFor="let row of pathStats.hills">
        <td>{{row.dHeight | number: '1.0-0'}}</td>
        <td>{{row.gradient.ave | number: '1.0-1'}}</td>
        <td>{{row.gradient.max | number: '1.0-1'}}</td>
        <td *ngIf="showTime">{{row.pace | number: '1.0-1'}}</td>
        <td *ngIf="showTime">{{row.ascRate | number: '1.0-1'}}</td>
      </tr>
    </table>
    <hr>
  </div>

  <div *ngIf="showTime">
    <p>

    Splits:
    <table class='data'>
      <tr>
        <th class='width1'>km</th>
        <th class='width2'>pace<br>[min/km]</th>
      </tr>
      <tr *ngFor="let row of pathStats.kmSplits; let i = index">
        <td>{{i+1}}</td>
        <td>{{row[1] | number: '1.0-1'}}</td>
      </tr>
    </table>
  </div>
</div>
