
:root {
  --ts-brown: #523209;
  --ts-green: #83964B;
}

.outer-box {
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 0px;
  width: 1280px;
  border: 0px purple dashed;
}

.header {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--ts-green);
  display: inline-block;
  width: 100%;
 }

.content-box {
    /* margin: 0px 0px 0px 15px; */
    font-size: 20px;
    color: white;
    opacity: 1.0;
    /* margin: auto; */
    /* width: 100%; */
    border: 0px greenyellow dotted;
}

.footer {
    position: absolute;
    bottom: 20px;
    border: 0px orangered dashed;
    width: 100%;
    /* margin: 0px 300px 0px 0px; */
   }
