body, html {
    height: 100%;
}

.background {
    /* background: green; */
    background-image: url("./assets/images/test2.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
