
.container {
  height: 80vh;
  border-left: 0px solid black;
  border-right: 0px solid black;
  border: 0px solid red;
  width: 100%;
  padding: 0px;
  display: inline-block;
  /* overflow-y: auto; */
}

.summary-container {
  height: 18%;
  border: 0px dotted blue;
  width: 100%;
  /* position: relative; */
  /* display: inline-block; */
  /* float: left; */
  padding: 10px;
}

.menu-and-list-container {
  /* height: 40vh; */
  border-left: 0px solid black;
  border-right: 0px solid black;
  border-bottom: 1px solid #DDD2AD;
  /* border-top: 1px solid #DDD2AD; */
  width: 100%;
  padding: 0px;
  display: inline-block;
  /* overflow-y: auto; */
}

.menu {
  font-size: 18px;
  margin: 0px 0px 0px 0px;
  background-color: white;
  /* float: left; */
  /* height: 45%; */
  /* position: relative; */
  width: 100%;
  border: 0px dotted black;
  display: inline-block;
  /* padding: 5px; */
}

.tab-menu-left {
  background-color: #E9E2CB;
  /* display: inline-block; */
  width: 49%;
  padding: 5px;
  text-align: center;
  float: left;

  /* border-top-left-radius: 10px;
  border-top-right-radius: 10px; */

  border: 1px solid #DDD2AD;
  /* border: 1px solid #AFBB87; */

  margin: 0px;
}

.tab-menu-right {
  background-color: white;
  /* display: inline-block; */
  width: 49%;
  padding: 5px;
  text-align: center;
  float: right;

  /* border-top-left-radius: 10px;
  border-top-right-radius: 10px; */


  border: 1px solid #DDD2AD;
  /* border: 1px solid #AFBB87; */

  margin: 0px;
}
