
<div class='container'>

  <div class='summary-container'>
    <app-summary></app-summary>
  </div>

  <div class='menu-and-list-container'>

    <div *ngIf="nTabs === 1">
      <div class='menu'>
        <div class="tab single">{{tabNameSingle}}</div>
      </div>

      <div class="tab-content-left">
          <app-create-detail></app-create-detail>
      </div>

    </div>

    <div *ngIf="nTabs === 2">
      <div class='menu'>
        <div class="tab left" id='left' (click)="menuClick('left')">{{tabNameLeft}}</div>
        <div class="tab right" id='right' (click)="menuClick('right')">{{tabNameRight}}</div>
      </div>

      <div *ngIf="activeTab === 'left'" class="tab-content-left">
          <app-list></app-list>
      </div>

      <div *ngIf="activeTab === 'right'" class="tab-content-right">
          <app-detail></app-detail>
      </div>
    </div>



  </div>
</div>




